# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
vendor
node_modules
dist
dist-ssr
*.local

Docs.md
Makefile-temp
bff-react/.eslintrc.json
bff-react/.gitignore
bff-react/components.json
bff-react/next.config.ts
bff-react/package-lock.json
bff-react/package.json
bff-react/postcss.config.mjs
bff-react/README.md
bff-react/tailwind.config.ts
bff-react/tsconfig.json
bff-react/types.d.ts
bff-react/public/file.svg
bff-react/public/globe.svg
bff-react/public/next.svg
bff-react/public/vercel.svg
bff-react/public/window.svg
bff-react/src/app/favicon.ico
bff-react/src/app/globals.css
bff-react/src/app/layout.tsx
bff-react/src/app/page.tsx
bff-react/src/app/error/layout.tsx
bff-react/src/app/error/page.tsx
bff-react/src/app/fonts/GeistMonoVF.woff
bff-react/src/app/fonts/GeistVF.woff
bff-react/src/app/forbidden/page.tsx
bff-react/src/app/login/layout.tsx
bff-react/src/app/login/page.tsx
bff-react/src/application/entities/base.ts
bff-react/src/application/entities/comment.ts
bff-react/src/application/entities/condition.ts
bff-react/src/application/entities/index.ts
bff-react/src/application/entities/media.ts
bff-react/src/application/entities/permission.ts
bff-react/src/application/entities/post.ts
bff-react/src/application/entities/role.ts
bff-react/src/application/entities/tag.ts
bff-react/src/application/entities/user.ts
bff-react/src/application/interfaces/auth.repository.ts
bff-react/src/application/interfaces/base.repository.ts
bff-react/src/application/interfaces/comment.repository.ts
bff-react/src/application/interfaces/index.ts
bff-react/src/application/interfaces/permission.repository.ts
bff-react/src/application/interfaces/post.repository.ts
bff-react/src/application/interfaces/role.repository.ts
bff-react/src/application/interfaces/user.repository.ts
bff-react/src/application/interfaces/dto/conditions.ts
bff-react/src/application/interfaces/dto/index.ts
bff-react/src/application/mappers/auth.mapper.ts
bff-react/src/application/mappers/conditions.mapper.ts
bff-react/src/application/mappers/index.ts
bff-react/src/application/mappers/resource.mapper.ts
bff-react/src/application/usecases/index.ts
bff-react/src/application/usecases/login.usecase.ts
bff-react/src/components/ui/accordion.tsx
bff-react/src/components/ui/alert-dialog.tsx
bff-react/src/components/ui/alert.tsx
bff-react/src/components/ui/aspect-ratio.tsx
bff-react/src/components/ui/avatar.tsx
bff-react/src/components/ui/badge.tsx
bff-react/src/components/ui/breadcrumb.tsx
bff-react/src/components/ui/button.tsx
bff-react/src/components/ui/calendar.tsx
bff-react/src/components/ui/card.tsx
bff-react/src/components/ui/carousel.tsx
bff-react/src/components/ui/checkbox.tsx
bff-react/src/components/ui/collapsible.tsx
bff-react/src/components/ui/command.tsx
bff-react/src/components/ui/dialog.tsx
bff-react/src/components/ui/drawer.tsx
bff-react/src/components/ui/dropdown-menu.tsx
bff-react/src/components/ui/form.tsx
bff-react/src/components/ui/input-otp.tsx
bff-react/src/components/ui/input.tsx
bff-react/src/components/ui/label.tsx
bff-react/src/components/ui/menubar.tsx
bff-react/src/components/ui/pagination.tsx
bff-react/src/components/ui/popover.tsx
bff-react/src/components/ui/progress.tsx
bff-react/src/components/ui/radio-group.tsx
bff-react/src/components/ui/resizable.tsx
bff-react/src/components/ui/scroll-area.tsx
bff-react/src/components/ui/select.tsx
bff-react/src/components/ui/separator.tsx
bff-react/src/components/ui/sheet.tsx
bff-react/src/components/ui/sidebar.tsx
bff-react/src/components/ui/skeleton.tsx
bff-react/src/components/ui/slider.tsx
bff-react/src/components/ui/sonner.tsx
bff-react/src/components/ui/switch.tsx
bff-react/src/components/ui/tabs.tsx
bff-react/src/components/ui/textarea.tsx
bff-react/src/components/ui/toast.tsx
bff-react/src/components/ui/toaster.tsx
bff-react/src/components/ui/toggle-group.tsx
bff-react/src/components/ui/toggle.tsx
bff-react/src/components/ui/tooltip.tsx
bff-react/src/hooks/use-mobile.tsx
bff-react/src/hooks/use-toast.ts
bff-react/src/infrastructure/gateways/api.client.ts
bff-react/src/infrastructure/gateways/index.ts
bff-react/src/infrastructure/gateways/storage.ts
bff-react/src/infrastructure/repositories/auth.repository.ts
bff-react/src/infrastructure/repositories/comment.repository.ts
bff-react/src/infrastructure/repositories/index.ts
bff-react/src/infrastructure/repositories/media.repository.ts
bff-react/src/infrastructure/repositories/permission.repository.ts
bff-react/src/infrastructure/repositories/post.repository.ts
bff-react/src/infrastructure/repositories/role.repository.ts
bff-react/src/infrastructure/repositories/user.repository.ts
bff-react/src/lib/utils.ts
bff-react/src/ui/adapter/comment.adapter.ts
bff-react/src/ui/adapter/index.ts
bff-react/src/ui/adapter/member.adapter.ts
bff-react/src/ui/adapter/permission.adapter.ts
bff-react/src/ui/adapter/post.adapter.ts
bff-react/src/ui/adapter/role.adapter.ts
bff-react/src/ui/components/authentication.provider.tsx
bff-react/src/ui/components/dialog.tsx
bff-react/src/ui/components/dialoger.tsx
bff-react/src/ui/components/toast.tsx
bff-react/src/ui/components/toaster.tsx
bff-react/src/ui/components/base/checkbox.tsx
bff-react/src/ui/components/base/fieldset.tsx
bff-react/src/ui/components/base/index.ts
bff-react/src/ui/components/base/upload.tsx
bff-react/src/ui/components/crud/cell.action.tsx
bff-react/src/ui/components/crud/crud.hooks.ts
bff-react/src/ui/components/crud/fullscreen.dialog.tsx
bff-react/src/ui/components/crud/index.ts
bff-react/src/ui/components/crud/popover.tsx
bff-react/src/ui/components/crud/table.tsx
bff-react/src/ui/components/crud/dropdown-grid/dropdown-grid.tsx
bff-react/src/ui/components/crud/dropdown-grid/dropdown-props.ts
bff-react/src/ui/components/widgets/index.ts
bff-react/src/ui/components/widgets/role-badge.tsx
bff-react/src/ui/components/widgets/role-select.tsx
bff-react/src/ui/components/widgets/gallery/gallery.tsx
bff-react/src/ui/components/widgets/gallery/photos.tsx
bff-react/src/ui/components/widgets/gallery/upload.tsx
bff-react/src/ui/hooks/index.ts
bff-react/src/ui/hooks/useLocalStore.ts
bff-react/src/ui/layouts/dashboard-layout/app-sidebar.tsx
bff-react/src/ui/layouts/dashboard-layout/layout.tsx
bff-react/src/ui/layouts/dashboard-layout/nav-main.tsx
bff-react/src/ui/layouts/dashboard-layout/nav-projects.tsx
bff-react/src/ui/layouts/dashboard-layout/nav-user.tsx
bff-react/src/ui/layouts/dashboard-layout/search-form.tsx
bff-react/src/ui/layouts/dashboard-layout/team-switcher.tsx
bff-react/src/ui/layouts/dashboard-layout/version-switcher.tsx
bff-react/src/ui/pages/auth/components/login-form.tsx
bff-react/src/ui/pages/auth/components/register-form.tsx
bff-react/src/ui/pages/auth/login/login.view.tsx
bff-react/src/ui/pages/dashboard/components/comment-detail.tsx
bff-react/src/ui/pages/dashboard/components/post-detail.tsx
bff-react/src/ui/pages/dashboard/components/role-detail.tsx
bff-react/src/ui/pages/dashboard/components/user.detail.tsx
bff-react/src/ui/store/dialog.store.ts
bff-react/src/ui/store/gallery.store.ts
bff-react/src/ui/store/index.ts
bff-react/src/ui/store/toast.store.ts
bff-react/src/ui/styles/main.css
bff-react/src/ui/styles/themes.css
bff-react/src/ui/styles/components/aggrid.css
bff-react/src/ui/styles/components/avatar.css
bff-react/src/ui/styles/components/badge.css
bff-react/src/ui/styles/components/base-button.css
bff-react/src/ui/styles/components/base-checkbox.css
bff-react/src/ui/styles/components/base-menu.css
bff-react/src/ui/styles/components/button.css
bff-react/src/ui/styles/components/card.css
bff-react/src/ui/styles/components/checkbox-card.css
bff-react/src/ui/styles/components/color.css
bff-react/src/ui/styles/components/dialog.css
bff-react/src/ui/styles/components/dropdown-menu.css
bff-react/src/ui/styles/components/fieldset.css
bff-react/src/ui/styles/components/form.css
bff-react/src/ui/styles/components/heading.css
bff-react/src/ui/styles/components/icon-button.css
bff-react/src/ui/styles/components/label.css
bff-react/src/ui/styles/components/menu-bar.css
bff-react/src/ui/styles/components/popover.css
bff-react/src/ui/styles/components/process.css
bff-react/src/ui/styles/components/scroll-area.css
bff-react/src/ui/styles/components/segmented.css
bff-react/src/ui/styles/components/select.css
bff-react/src/ui/styles/components/spinner.css
bff-react/src/ui/styles/components/switch.css
bff-react/src/ui/styles/components/tabs.css
bff-react/src/ui/styles/components/text-field.css
bff-react/src/ui/styles/components/text.css
bff-react/src/ui/styles/components/toast.css
bff-react/src/ui/styles/components/tooltip.css
bff-react/src/ui/styles/components/upload.css
bff-react/src/ui/utils/clone.ts
bff-react/src/ui/utils/date.ts
bff-react/src/ui/utils/index.ts
v3/.gitignore
v3/app.config.ts
v3/app.vue
v3/nuxt.config.ts
v3/package-lock.json
v3/package.json
v3/README.md
v3/tailwind.config.ts
v3/tsconfig.json
v3/@ui/index.css
v3/@ui/nuxt.config.ts
v3/@ui/components/Banner.vue
v3/@ui/components/Error.vue
v3/@ui/components/Footer.vue
v3/@ui/components/Header.vue
v3/@ui/components/Main.vue
v3/@ui/components/Page.vue
v3/@ui/components/PageAccordion.vue
v3/@ui/components/PageAnchors.vue
v3/@ui/components/PageAside.vue
v3/@ui/components/PageBody.vue
v3/@ui/components/PageCard.vue
v3/@ui/components/PageColumns.vue
v3/@ui/components/PageGrid.vue
v3/@ui/components/PageHeader.vue
v3/@ui/components/PageHero.vue
v3/@ui/components/PageLinks.vue
v3/@ui/components/PageList.vue
v3/@ui/components/PageSection.vue
v3/@ui/components/User.vue
v3/@ui/components/ColorMode/Avatar.vue
v3/@ui/components/ColorMode/Button.vue
v3/@ui/components/ColorMode/Image.vue
v3/@ui/components/ColorMode/Select.vue
v3/@ui/components/ColorMode/Switch.vue
v3/@ui/components/Content/Navigation.vue
v3/@ui/components/Content/Search.vue
v3/@ui/components/Content/SearchButton.vue
v3/@ui/components/Content/Surround.vue
v3/@ui/components/Content/Toc.vue
v3/@ui/components/locale/LocaleSelect.vue
v3/@ui/components/prose/Accordion.vue
v3/@ui/components/prose/AccordionItem.vue
v3/@ui/components/prose/Callout.vue
v3/@ui/components/prose/Card.vue
v3/@ui/components/prose/CardGroup.vue
v3/@ui/components/prose/CodeCollapse.vue
v3/@ui/components/prose/CodeGroup.vue
v3/@ui/components/prose/CodeIcon.vue
v3/@ui/components/prose/CodeTree.vue
v3/@ui/components/prose/Collapsible.vue
v3/@ui/components/prose/ProseA.vue
v3/@ui/components/prose/ProseBlockquote.vue
v3/@ui/components/prose/ProseCode.vue
v3/@ui/components/prose/ProseEm.vue
v3/@ui/components/prose/ProseH1.vue
v3/@ui/components/prose/ProseH2.vue
v3/@ui/components/prose/ProseH3.vue
v3/@ui/components/prose/ProseH4.vue
v3/@ui/components/prose/ProseHr.vue
v3/@ui/components/prose/ProseIcon.vue
v3/@ui/components/prose/ProseImg.vue
v3/@ui/components/prose/ProseKbd.vue
v3/@ui/components/prose/ProseLi.vue
v3/@ui/components/prose/ProseOl.vue
v3/@ui/components/prose/ProseP.vue
v3/@ui/components/prose/ProsePre.vue
v3/@ui/components/prose/ProseScript.vue
v3/@ui/components/prose/ProseStrong.vue
v3/@ui/components/prose/ProseTable.vue
v3/@ui/components/prose/ProseTbody.vue
v3/@ui/components/prose/ProseTd.vue
v3/@ui/components/prose/ProseTh.vue
v3/@ui/components/prose/ProseThead.vue
v3/@ui/components/prose/ProseTr.vue
v3/@ui/components/prose/ProseUl.vue
v3/@ui/components/prose/Steps.vue
v3/@ui/components/prose/Tabs.vue
v3/@ui/components/prose/callout/Caution.vue
v3/@ui/components/prose/callout/Note.vue
v3/@ui/components/prose/callout/Tip.vue
v3/@ui/components/prose/callout/Warning.vue
v3/@ui/composables/useContentSearch.d.ts
v3/@ui/composables/useContentSearch.js
v3/@ui/composables/useScrollspy.d.ts
v3/@ui/composables/useScrollspy.js
v3/@ui/theme/error.ts
v3/@ui/theme/footer.ts
v3/@ui/theme/header.ts
v3/@ui/theme/index.ts
v3/@ui/theme/main.ts
v3/@ui/theme/page-accordion.ts
v3/@ui/theme/page-aside.ts
v3/@ui/theme/page.ts
v3/@ui/types/app.config.d.ts
v3/@ui/types/index.d.ts
v3/@ui/types/index.js
v3/@ui/utils/content.d.ts
v3/@ui/utils/content.js
v3/@ui/utils/index.d.ts
v3/@ui/utils/index.js
v3/assets/css/main.css
v3/assets/css/components/aggrid.css
v3/components/Banner.vue
v3/components/Footer.vue
v3/components/Header.vue
v3/components/Logo.vue
v3/components/ThemePicker.vue
v3/components/ThemePickerButton.vue
v3/components/Crud/Grid.vue
v3/components/Layout/Aside.vue
v3/components/Layout/Breadcrumb.vue
v3/components/Layout/Header.vue
v3/components/Layout/NavLink.vue
v3/components/Sidebar/index.ts
v3/components/Sidebar/Sidebar.vue
v3/components/Sidebar/SidebarContent.vue
v3/components/Sidebar/SidebarFooter.vue
v3/components/Sidebar/SidebarGroup.vue
v3/components/Sidebar/SidebarGroupAction.vue
v3/components/Sidebar/SidebarGroupContent.vue
v3/components/Sidebar/SidebarGroupLabel.vue
v3/components/Sidebar/SidebarHeader.vue
v3/components/Sidebar/SidebarInput.vue
v3/components/Sidebar/SidebarInset.vue
v3/components/Sidebar/SidebarMenu.vue
v3/components/Sidebar/SidebarMenuAction.vue
v3/components/Sidebar/SidebarMenuBadge.vue
v3/components/Sidebar/SidebarMenuButton.vue
v3/components/Sidebar/SidebarMenuButtonChild.vue
v3/components/Sidebar/SidebarMenuItem.vue
v3/components/Sidebar/SidebarMenuSkeleton.vue
v3/components/Sidebar/SidebarMenuSub.vue
v3/components/Sidebar/SidebarMenuSubButton.vue
v3/components/Sidebar/SidebarMenuSubItem.vue
v3/components/Sidebar/SidebarProvider.vue
v3/components/Sidebar/SidebarRail.vue
v3/components/Sidebar/SidebarSeparator.vue
v3/components/Sidebar/SidebarTrigger.vue
v3/components/Sidebar/utils.ts
v3/content/1.getting-started/.navigation.yml
v3/content/1.getting-started/1.index.md
v3/content/1.getting-started/3.theme.md
v3/content/1.getting-started/4.icons.md
v3/content/1.getting-started/5.fonts.md
v3/content/1.getting-started/6.color-mode.md
v3/content/1.getting-started/2.installation/1.nuxt.md
v3/content/1.getting-started/2.installation/2.vue.md
v3/content/1.getting-started/7.i18n/.navigation.yml
v3/content/1.getting-started/7.i18n/1.nuxt.md
v3/content/1.getting-started/7.i18n/2.vue.md
v3/content/2.composables/.navigation.yml
v3/content/2.composables/define-shortcuts.md
v3/content/2.composables/use-form-field.md
v3/content/2.composables/use-modal.md
v3/content/2.composables/use-slideover.md
v3/content/2.composables/use-toast.md
v3/content/3.components/.navigation.yml
v3/content/3.components/0.app.md
v3/content/3.components/accordion.md
v3/content/3.components/alert.md
v3/content/3.components/avatar-group.md
v3/content/3.components/avatar.md
v3/content/3.components/badge.md
v3/content/3.components/breadcrumb.md
v3/content/3.components/button-group.md
v3/content/3.components/button.md
v3/content/3.components/card.md
v3/content/3.components/carousel.md
v3/content/3.components/checkbox.md
v3/content/3.components/chip.md
v3/content/3.components/collapsible.md
v3/content/3.components/command-palette.md
v3/content/3.components/container.md
v3/content/3.components/context-menu.md
v3/content/3.components/drawer.md
v3/content/3.components/dropdown-menu.md
v3/content/3.components/form-field.md
v3/content/3.components/form.md
v3/content/3.components/icon.md
v3/content/3.components/input-menu.md
v3/content/3.components/input-number.md
v3/content/3.components/input.md
v3/content/3.components/kbd.md
v3/content/3.components/link.md
v3/content/3.components/modal.md
v3/content/3.components/navigation-menu.md
v3/content/3.components/pagination.md
v3/content/3.components/pin-input.md
v3/content/3.components/popover.md
v3/content/3.components/progress.md
v3/content/3.components/radio-group.md
v3/content/3.components/select-menu.md
v3/content/3.components/select.md
v3/content/3.components/separator.md
v3/content/3.components/skeleton.md
v3/content/3.components/slideover.md
v3/content/3.components/slider.md
v3/content/3.components/switch.md
v3/content/3.components/table.md
v3/content/3.components/tabs.md
v3/content/3.components/textarea.md
v3/content/3.components/toast.md
v3/content/3.components/tooltip.md
v3/layouts/default.vue
v3/layouts/docs.vue
v3/pages/home.vue
v3/pages/login.vue
v3/public/favicon.ico
v3/public/robots.txt
v3/public/fonts/font.css
v3/public/fonts/mono.woff2
v3/public/fonts/regular.woff2
v3/server/tsconfig.json
