.ag-theme-quartz {
  --ag-wrapper-border-radius: 4px;
  --ag-active-color: var(--accent-7);
  --ag-background-color: white;
  --ag-border-color: var(--gray-4);
  --ag-border-radius: 4px;
  --ag-browser-color-scheme: light;
  --ag-font-family: inherit;
  --ag-font-size: 13px;
  --ag-foreground-color: #333333;
  --ag-header-background-color: white;
  --ag-header-font-size: 13px;
  --ag-header-font-weight: 400;
  --ag-header-text-color: #84868B;
  --ag-spacing: 6px;
  --ag-wrapper-border-radius: 4px;
  --ag-header-height: 40px;
  --ag-row-height: 36px;
  --ag-line-height: 34px;
  --ag-list-item-height: 32px;
  --ag-invalid-color: var(--red-11);
  &.ag-no-border {
    --ag-borders: none;
  }
  .ag-standard-button {
    padding: 6px 12px;
  }
}
