.rt-BaseCheckboxRoot {
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1px var(--gray-a7);
}
.rt-BaseCheckboxRoot:hover {
  box-shadow: 0 0 0 1px var(--accent-a7);;
}
.rt-BaseCheckboxRoot:focus {
  outline: 4px solid var(--accent-a4);
}

.rt-BaseCheckboxIndicator {
  color: var(--accent-11);
  width: 16px;
  height: 16px;
}
