.rt-BaseDialogOverlay {
  background-color: var(--black-a7);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.rt-BaseDialogScroll {
  display: flex;
  overflow: auto;
  position: absolute;
  inset: 0;
}

.rt-BaseDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--dialog-width, calc(100dvw - 32px));
  max-width: min(var(--container-4), calc(100dvw - 32px));
  max-height: calc(100dvh - 32px);
  padding: var(--dialog-padding);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --dialog-padding: theme(spacing.4);
  --dialog-title-size: 16px;
  --dialog-icon-size: 24px;
  --dialog-description-size: 14px;
  @apply grid gap-3;
  &:focus {
    outline: none;
  }
  &:where(.rt-DialogFullScreen) {
    /* --dialog-width: 360px; */
  }
  &:where(:not(.rt-DialogFullScreen)) {
    &:where(.rt-r-size-1) {
      --dialog-width: 360px;
    }
    &:where(.rt-r-size-2) {
      --dialog-width: 480px;
    }
    &:where(.rt-r-size-3) {
      --dialog-width: 640px;
    }
    &:where(.rt-r-size-4) {
      --dialog-width: 800px;
    }
  }
  > .rt-Heading {
    @apply mb-0;
    --default-font-size: var(--font-size-3);
  }
}

.rt-BaseDialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: var(--dialog-title-size);
}

.rt-BaseDialog-Icon {
  font-size: var(--dialog-icon-size);
  
}

.rt-BaseDialogDescription {
  color: var(--mauve-11);
  font-size: var(--dialog-description-size);
  line-height: 1.5;
}

.rt-BaseDialog-Close {
  @apply absolute top-2 right-2;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}