.ToastViewport {
  @apply fixed bottom-0 right-0 flex flex-col gap-2 max-w-screen-sm w-[320px] p-5 m-0 list-none outline-none;
  z-index: 2147483647;
}

.ToastRoot {
  @apply rounded-md p-4 grid gap-x-3 items-center shadow;
  background-color: var(--toast-background);
  grid-template-areas: "title action" "description action";
  grid-template-columns: auto max-content;
  &:where([color=alert]) {
    --toast-background: white;
  }
  &:where([color=error]) {
    --toast-background: var(--red-a6);
  }
  &:where([color=success]) {
    --toast-background: var(--green-a6);
  }
  &:where([color=warning]) {
    --toast-background: var(--orange-a6);
  }
  &:where([color=info]) {
    --toast-background: var(--cyan-a6);
  }
}
.ToastRoot[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state="closed"] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}
.ToastClose {
  @apply self-start;
}
.ToastIcon {
  @apply text-[20px]
}


@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.ToastTitle {
  grid-area: title;
  @apply mb-2 text-sm;
  color: var(--slate-12);
}

.ToastDescription {
  grid-area: description;
  @apply m-0 text-xs;
  color: var(--slate-11);
}

.ToastAction {
  grid-area: action;
}
