@import 'tailwindcss';
@import './base.css' layer(themes);
@import './components/transition.css' layer(components);

@config '../../tailwind.config.ts';
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}
@theme {
  --font-sans: 'Google Sans';
  --spacing: 0.4rem;
  --color-*: initial;
  --color-black: #000;
  --color-white: #fff;
  --color-red: oklch(0.637 0.237 25.331);
  --color-orange: oklch(0.705 0.213 47.604);
  --color-amber: oklch(0.769 0.188 70.08);
  --color-yellow: oklch(0.795 0.184 86.047);
  --color-lime: oklch(0.768 0.233 130.85);
  --color-green: oklch(0.723 0.219 149.579);
  --color-emerald: oklch(0.696 0.17 162.48);
  --color-teal: oklch(0.704 0.14 182.503);
  --color-cyan: oklch(0.715 0.143 215.221);
  --color-sky: oklch(0.685 0.169 237.323);
  --color-blue: oklch(0.623 0.214 259.815);
  --color-indigo: oklch(0.585 0.233 277.117);
  --color-violet: oklch(0.606 0.25 292.717);
  --color-purple: oklch(0.627 0.265 303.9);
  --color-fuchsia: oklch(0.667 0.295 322.15);
  --color-pink: oklch(0.656 0.241 354.308);
  --color-rose: oklch(0.645 0.246 16.439);
  --color-slate: oklch(0.554 0.046 257.417);
  --color-gray: oklch(0.551 0.027 264.364);
  --color-zinc: oklch(0.552 0.016 285.938);
  --color-neutral: oklch(0.439 0 0);
  --color-stone: oklch(0.553 0.013 58.071);

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: var(--color-ring);

  --text-xxs: 0.8rem;
  --text-xxs--line-height: 1.25;
  --text-xs: 1.0rem;
  --text-xs--line-height: 1.2;
  --text-sm: 1.15rem;
  --text-sm1--line-height: 1.2173913;
  --text-base: 1.3rem;
  --text-base--line-height: 1.23076923;
  --text-md: 1.45rem;
  --text-md--line-height: 1.24137931;
  --text-lg: 1.6rem;
  --text-lg--line-height: 1.25;
  --text-xl: 1.8rem;
  --text-xl--line-height: 1.22222222;

  --max-width-xs: min(32rem, calc(100dvw - 3.2rem));
  --max-width-sm: min(40rem, calc(100dvw - 3.2rem));
  --max-width-md: min(48rem, calc(100dvw - 3.2rem));
  --max-width-lg: min(56rem, calc(100dvw - 3.2rem));
  --max-width-xl: min(64rem, calc(100dvw - 3.2rem));
  --max-width-2xl: min(72rem, calc(100dvw - 3.2rem));
  --max-width-3xl: min(84rem, calc(100dvw - 3.2rem));
  --max-width-4xl: min(96rem, calc(100dvw - 3.2rem));

  --border-radius-xs: calc(var(--radius) * 0.75);
  --border-radius-sm: calc(var(--radius) * 0.875);
  --border-radius: var(--radius, 0.6rem);
  --border-radius-md: calc(var(--radius, 0.6rem) * 1.125);
  --border-radius-lg: calc(var(--radius, 0.6rem) * 1.25);
  --border-radius-xl: calc(var(--radius, 0.6rem) * 1.375);
}