@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}


* {
  @apply border-border;
}
body {
  /* @apply bg-background text-foreground; */
  font-size: var(--font-size);
  line-height: var(--line-height)
}
.sr-only {
  @apply absolute w-[1px] h-[1px] opacity-0 overflow-hidden;
}
.ui-focus-outside,
.ui-outline {
  @apply focus-visible:outline-[3px] focus-visible:outline-[var(--ring)] focus-visible:outline-offset-2;
}

.ui-disable {
  @apply disabled:pointer-events-none disabled:opacity-50 disabled:grayscale;
}

.ui-checked-state {
  @apply data-[state="checked"]:bg-accent data-[state="checked"]:text-accent-foreground;
}

.ui-highlighted {
  @apply data-[highlighted]:bg-accent data-[highlighted]:text-accent-foreground ;
}

.ui-hovered {
  @apply hover:text-accent-foreground hover:bg-accent 
}
.ui-focused {
  @apply focus:bg-accent focus:text-accent-foreground;
}
.ui-focus-within {
  @apply [&:has(:focus-visible)]:outline-none [&:has(:focus-visible)]:ring-2 [&:has(:focus-visible)]:ring-primary/50 [&:has(:focus-visible)]:ring-offset-2 ring-offset-background;
}

.ui-data-state-animate {
  @apply data-[state=open]:animate-in data-[state=open]:fade-in-0 data-[state=open]:zoom-in-95;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
  @apply data-[side=bottom]:slide-in-from-top-2;
  @apply data-[side=left]:slide-in-from-right-2;
  @apply data-[side=right]:slide-in-from-left-2;
  @apply data-[side=top]:slide-in-from-bottom-2;
}
.ui-field {
  @apply relative;
  &:before {
    @apply content-[''] absolute inset-0 border border-input bg-background ring-offset-background focus-within:outline-none focus-within:ring-2 focus-within:ring-primary/50 focus-within:ring-offset-2 rounded-md;
  }
  > .ui-field__content {
    @apply relative flex z-0;
  }
}
.gradient-border {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}
.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.5rem;
  padding: 0.2rem;
  width: 100%;
  background-size: 400% auto;
  opacity: 0.5;
  transition: background-position 0.3s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.gradient-border:hover::before {
  background-position: -50% 0;
  opacity: 1;
}
/* @media (prefers-color-scheme: dark) { */
  .gradient-border::before {
    background-image: linear-gradient(90deg, #303030 0%, #303030 25%, #00DC82 50%, #36E4DA 75%, #0047E1 100%);
  }
/* } */

