@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-alpha.css';
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/white-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/green-alpha.css';

[data-accent-color='green'] {
  --accent-1: #fdfdfe;
  --accent-2: #f7f9ff;
  --accent-3: #edf2fe;
  --accent-4: #dfeaff;
  --accent-5: #d0dfff;
  --accent-6: #bdd1ff;
  --accent-7: #a6bff9;
  --accent-8: #87a5ef;
  --accent-9: #3d63dd;
  --accent-10: #3657c3;
  --accent-11: #395bc7;
  --accent-12: #1d2e5c;

  --accent-a1: #00008002;
  --accent-a2: #0040ff08;
  --accent-a3: #0047f112;
  --accent-a4: #0058ff20;
  --accent-a5: #0052ff2f;
  --accent-a6: #004eff42;
  --accent-a7: #0048ee59;
  --accent-a8: #0040dd78;
  --accent-a9: #0032d2c2;
  --accent-a10: #002ab3c9;
  --accent-a11: #002cb7c6;
  --accent-a12: #001347e2;

  /* --primary-base: var(--accent-1);
  --primary-bg-subtle: var(--accent-2);
  --primary-bg: var(--accent-3);
  --primary-bg-hover: var(--accent-4);
  --primary-bg-active: var(--accent-5);
  --primary-line: var(--accent-6);
  --primary-border: var(--accent-7);
  --primary-border-hover: var(--accent-8);
  --primary-solid: var(--accent-9);
  --primary-solid-hover: var(--accent-10);
  --primary-text: var(--accent-11);
  --primary-text-contrast: var(--accent-12); */
}
:root {
  --primary-base: var(--green-1);
  --primary-bg-subtle: var(--green-2);
  --primary-bg: var(--green-3);
  --primary-bg-hover: var(--green-4);
  --primary-bg-active: var(--green-5);
  --primary-line: var(--green-6);
  --primary-border: var(--green-7);
  --primary-border-hover: var(--green-8);
  --primary-solid: var(--green-9);
  --primary-solid-hover: var(--green-10);
  --primary-text: var(--green-11);
  --primary-text-contrast: var(--green-12);

  --accent-base: #FEFDFB;
  --accent-bg-subtle: #FEFBE9;
  --accent-bg: #FFF7C2;
  --accent-bg-hover: #FFEE9C;
  --accent-bg-active: #FBE577;
  --accent-line: #F3D673;
  --accent-border: #E9C162;
  --accent-border-hover: #E2A336;
  --accent-solid: #FFC53D;
  --accent-solid-hover: #FFBA18;
  --accent-text: #AB6400;
  --accent-text-contrast: #4F3422;

  --slate-base: #FCFCFD;
  --slate-bg-subtle: #F9F9FB;
  --slate-bg: #F0F0F3;
  --slate-bg-hover: #E8E8EC;
  --slate-bg-active: #E0E1E6;
  --slate-line: #D9D9E0;
  --slate-border: #CDCED6;
  --slate-border-hover: #B9BBC6;
  --slate-solid: #8B8D98;
  --slate-solid-hover: #80838D;
  --slate-text: #60646C;
  --slate-text-contrast: #1C2024;

  --danger-base: #FFFCFC;
  --danger-bg-subtle: #FFF8F7;
  --danger-bg: #FEEBE7;
  --danger-bg-hover: #FFDCD3;
  --danger-bg-active: #FFCDC2;
  --danger-line: #FDBDAF;
  --danger-border: #F5A898;
  --danger-border-hover: #EC8E7B;
  --danger-solid: #E54D2E;
  --danger-solid-hover: #DD4425;
  --danger-text: #D13415;
  --danger-text-contrast: #5C271F;

  --white: white;

  --background: 0 0% 100%;
  --foreground: var(--black-a2);

  --muted: var(--gray-11);
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover-backdrop: var(--black-a7);
  --popover-background: var(--white-a9);
  --popover-foreground: var(--white-a2);

  --card-background: var(--white-a9);
  --card-foreground: var(--white-a2);

  --border: var(--gray-6);
  --input: 214.3 31.8% 91.4%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --ring: var(--green-a7);

  --radius: 0.6rem;


  --font-size: theme(fontSize[base][0]);
  --line-height: theme(fontSize[base][1]);
  --title-font-size: theme(fontSize[md][0]);
  --title-line-height: theme(fontSize[md][1]);
  --sub-title-font-size: theme(fontSize[sm][0]);
  --sub-title-line-height: theme(fontSize[sm][1]);
}

.dark-mode {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --ring: 212.7 26.8% 83.9%;
}
.radix-themes {
  &:where([data-panel-background='solid']) {
    --color-panel: var(--color-panel-solid);
    --backdrop-filter-panel: none;
  }
  &:where([data-panel-background='translucent']) {
    --color-panel: var(--color-panel-translucent);
    --backdrop-filter-panel: blur(6px);
  }
}