.Dialog {
  &Overlay {
    @apply fixed inset-0 z-10;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &Content {
    @apply fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 grid w-dvw;
    background-color: var(--popover-background);
    backdrop-filter: var(--backdrop-filter-panel);
    box-shadow:
      var(--shadow-6), 
      0 0 0 100vmax var(--popover-backdrop);
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    border-radius: var(--modal-radius);
    padding: var(--modal-padding);
    row-gap: var(--modal-gap);
    z-index: 10;
    font-size: var(--modal-font-size);
    line-height: var(--modal-line-height);

    &:focus {
      /* outline: none; */
    }
  }
  &Header {
    @apply grid gap-2;
  }
  &Title {
    @apply flex items-center gap-2;
    color: var(--modal-title-color, var(--mauve-12));
    font-size: var(--modal-title-font-size);
    line-height: var(--modal-title-line-height);
  }

  &Description {
    color: var(--muted);
    font-size: var(--modal-sub-title-font-size);
    line-height: var(--modal-sub-title-line-height);
  }
  &Close-Icon {
    @apply absolute top-2 right-2;
  }

  &Footer {
    @apply flex gap-2;
  }

  &Content {
    /* * * * * * * * * * * * * * * * * * * */
    /*                Sizes                */
    /* * * * * * * * * * * * * * * * * * * */
    &:where(:not([width=full])) {
      max-height: calc(100dvh - theme(space.6) * 2);
    }
    &:where([width=full]) {
      @apply h-dvh;
    }
    &:where([width=sm]) {
      @apply max-w-sm;
    }
    &:where([width=md],:not([width])) {
      @apply max-w-md;
    }
    &:where([width=lg]) {
      @apply max-w-lg;
    }
    &:where([size=sm]) {
      --modal-padding: theme(padding.3);
      --modal-radius: var(--radius-3);
      --modal-gap: theme(gap[2.5]);
      --modal-font-size: theme(fontSize[sm][0]);
      --modal-line-height: theme(fontSize[sm][1]);
      --modal-title-font-size: theme(fontSize[base][0]);
      --modal-title-line-height: theme(fontSize[base][1]);
      --modal-sub-title-font-size: theme(fontSize[xs][0]);
      --modal-sub-title-line-height: theme(fontSize[xs][1]);
    }
    &:where([size=md],:not([size])) {
      --modal-padding: theme(padding.4);
      --modal-radius: var(--radius-4);
      --modal-gap: theme(gap.3);

      --modal-font-size: var(--font-size);
      --modal-line-height: var(--line-height);
      --modal-title-font-size: var(--title-font-size);
      --modal-title-line-height: var(--title-line-height);
      --modal-sub-title-font-size: var(--sub-title-font-size);
      --modal-sub-title-line-height: var(--sub-title-line-height);
    }
    &:where([size=lg]) {
      --modal-padding: theme(padding.5);
      --modal-radius: var(--radius-5);
      --modal-gap: theme(gap[3.5]);
      --modal-font-size: var(--font-size);
      --modal-line-height: var(--line-height);
      --modal-title-font-size: var(--title-font-size);
      --modal-title-line-height: var(--title-line-height);
      --modal-sub-title-font-size: var(--sub-title-font-size);
      --modal-sub-title-line-height: var(--sub-title-line-height);
    }
    /* * * * * * * * * * * * * * * * * * * */
    /*               Variant               */
    /* * * * * * * * * * * * * * * * * * * */
    &:where([variant=warning]) {
      --modal-title-color: var(--accent-text);
    }
    &:where([variant=error]) {
      --modal-title-color: var(--danger-text);
    }
    &:where([variant=success]) {
      --modal-title-color: var(--primaty-text);
    }
    &:where([variant=info]) {
      --modal-title-color: var(--slate-text);
    }
  }
}
@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}